<!DOCTYPE html>
<html>

<head>

    <title>Create Password</title>

    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="container">

    <h1>Create Password</h1>

    <form action="/create-password" method="post">

        <input
            type="text"
            name="username"
            placeholder="Username"
            required>

        <input
            type="password"
            name="password"
            placeholder="Create Password"
            required>

        <button type="submit">
            Save Password
        </button>

    </form>

</div>

</body>

</html>